doctype html
html(lang="en" class="no-js")
  include includes/html5bp/head.html
  
  body
    
    header
      // Site Header 
      include includes/header.html

    //Add your site or application content here
    div.app 
      div.app-wrap
        // Display Section
        include includes/display-section.html
        include includes/menus.html
        
    // Link jquery
    include includes/html5bp/jquery.html 
    //Google Analytics: change UA-XXXXX-X to be your site's ID.
    include includes/html5bp/analytics.html
