// Variables

// Mobile Nav Colors
$mobile-nav-btn-color: lightcoral;
$mobile-nav-btn-icon-color: white;

// Mobile Nav List
$mobile-nav-li-color: lightsteelblue;
$mobile-nav-li-border-color: tan; 
$mobile-nav-li-hover-color: blue;
$mobile-nav-bg-color: lightslategrey;

// Key section Colors
$submit-key-button-color: #888;
$submit-key-text-color: white;

// Note List Colors
$note-border-color: white;
$note-text-color: #111;
$note-list-bg-color: lightcyan;

//Chord Label Colors
$chord-labels-bg-color: tan;
$chord-labels-border-color: brown;

// Chord Colors
$chord-degree-bg-color: lightsteelblue;


body {
    @include container(100%);
}

.app-wrap {
    @include container(80%);
    margin: 0 auto;
}

// Helper Classes
.hide {
    display: none;
}

.full-screen {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
}


// Typography
h1.section-title {
    @include span(4);
    text-align: center;
    padding: 5px;
}
