// Display Section
//
// Styleguide 3.0



// Display Section
//
// markup:
//    <div id="display-section">
//        <div class="display-wrap">
//            <div class="key-desc">
//                <p class="key-char lead">Completely pure. It's character is: innocence, simplicity, naïvety, children's talk.</p>
//            </div>
//            <div class="list-wrap">
//                <ul class="note-list list-inline">
//                    <li class="scale-degree" role="menuitem"><a class="scale-link">C</a></li>
//                    <li class="scale-degree" role="menuitem"><a class="scale-link">D</a></li>
//                    <li class="scale-degree" role="menuitem"><a class="scale-link">E</a></li>
//                    <li class="scale-degree" role="menuitem"><a class="scale-link">F</a></li>
//                    <li class="scale-degree" role="menuitem"><a class="scale-link">G</a></li>
//                    <li class="scale-degree" role="menuitem"><a class="scale-link">A</a></li>
//                    <li class="scale-degree" role="menuitem"><a class="scale-link">B</a></li>
//                </ul>
//            </div>
//            <div class="chord-section">
//                <ul class="chord-labels list-inline">
//                    <li class="chord-numerals" role="menuitem"><a class="chord-link">I</a></li>
//                    <li class="chord-numerals" role="menuitem"><a class="chord-link">ii</a></li>
//                    <li class="chord-numerals" role="menuitem"><a class="chord-link">iii</a></li>
//                    <li class="chord-numerals" role="menuitem"><a class="chord-link">IV</a></li>
//                    <li class="chord-numerals" role="menuitem"><a class="chord-link">V</a></li>
//                    <li class="chord-numerals" role="menuitem"><a class="chord-link">vi</a></li>
//                    <li class="chord-numerals" role="menuitem"><a class="chord-link">vii°</a>     </li>
//                </ul>
//                <ul class="chord-list list-inline">
//                    <li class="chord-degree" role="menuitem"><a class="chord-link">C</a></li>
//                    <li class="chord-degree" role="menuitem"><a class="chord-link">D</a></li>
//                    <li class="chord-degree" role="menuitem"><a class="chord-link">E</a></li>
//                    <li class="chord-degree" role="menuitem"><a class="chord-link">F</a></li>
//                    <li class="chord-degree" role="menuitem"><a class="chord-link">G</a></li>
//                    <li class="chord-degree" role="menuitem"><a class="chord-link">A</a></li>
//                    <li class="chord-degree" role="menuitem"><a class="chord-link">B</a></li>
//                </ul>
//            </div>
//        </div>
//    </div>
//
// Styleguide 3.1

#display-section {
    @include layout($chord-section);
    @include span(7);

    #display-wrap {
    }
}

// Display Section UL
//
// markup:
//    <div id="display-section">
//        <ul class="note-list list-inline">
//            <li class="scale-degree" role="menuitem"><a class="scale-link">C</a></li>
//            <li class="scale-degree" role="menuitem"><a class="scale-link">D</a></li>
//            <li class="scale-degree" role="menuitem"><a class="scale-link">E</a></li>
//            <li class="scale-degree" role="menuitem"><a class="scale-link">F</a></li>
//            <li class="scale-degree" role="menuitem"><a class="scale-link">G</a></li>
//            <li class="scale-degree" role="menuitem"><a class="scale-link">A</a></li>
//            <li class="scale-degree" role="menuitem"><a class="scale-link">B</a></li>
//        </ul>
//    </div>
//
// Styleguide 3.2


#display-section {
    ul {
        li {
            @include span(1);
            padding: 5px;
            border: 1px solid white;
            text-align: center;

            a{
                color: #111;
                font-size: 1em;
            }
        }
    }
}

// Key Description
//
// markup:
//    <div class="key-desc">
//        <p class="key-char lead">Completely pure. It's character is: innocence, simplicity, naïvety, children's talk.</p>
//     </div>
//
// Styleguide 3.3

.key-desc {
    @include span(7);
    background-color: lightgray;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
}

// Note List
//
// markup:
//   <div id="display-section">
//    <div class="list-wrap">
//        <ul class="note-list list-inline">
//            <li class="scale-degree" role="menuitem"><a class="scale-link">C</a></li>
//            <li class="scale-degree" role="menuitem"><a class="scale-link">D</a></li>
//            <li class="scale-degree" role="menuitem"><a class="scale-link">E</a></li>
//            <li class="scale-degree" role="menuitem"><a class="scale-link">F</a></li>
//            <li class="scale-degree" role="menuitem"><a class="scale-link">G</a></li>
//            <li class="scale-degree" role="menuitem"><a class="scale-link">A</a></li>
//            <li class="scale-degree" role="menuitem"><a class="scale-link">B</a></li>
//        </ul>
//    </div>
//   </div>
//
// Styleguide 3.4

.list-wrap {
    @include span(7);
}

ul.note-list {
    margin-bottom: 20px;
    li.scale-degree {
        background-color: lightcyan;
        a {

        }
    }
}

// Chord Section
//
// markup:
//   <div id="display-section">
//    <div class="chord-section">
//        <ul class="chord-labels list-inline">
//            <li class="chord-numerals" role="menuitem"><a class="chord-link">I</a></li>
//            <li class="chord-numerals" role="menuitem"><a class="chord-link">ii</a></li>
//            <li class="chord-numerals" role="menuitem"><a class="chord-link">iii</a></li>
//            <li class="chord-numerals" role="menuitem"><a class="chord-link">IV</a></li>
//            <li class="chord-numerals" role="menuitem"><a class="chord-link">V</a></li>
//            <li class="chord-numerals" role="menuitem"><a class="chord-link">vi</a></li>
//            <li class="chord-numerals" role="menuitem"><a class="chord-link">vii°</a></li>
//        </ul>
//        <ul class="chord-list list-inline">
//            <li class="chord-degree" role="menuitem"><a class="chord-link">C</a></li>
//            <li class="chord-degree" role="menuitem"><a class="chord-link">D</a></li>
//            <li class="chord-degree" role="menuitem"><a class="chord-link">E</a></li>
//            <li class="chord-degree" role="menuitem"><a class="chord-link">F</a></li>
//            <li class="chord-degree" role="menuitem"><a class="chord-link">G</a></li>
//            <li class="chord-degree" role="menuitem"><a class="chord-link">A</a></li>
//            <li class="chord-degree" role="menuitem"><a class="chord-link">B</a></li>
//        </ul>
//    </div>
//   </div>
//
// Styleguide 3.5

.chord-section {
    @include span(7);
    margin-top: 10px;
}

// Chord Labels
//
// markup:
//   <div id="display-section">
//    <ul class="chord-labels list-inline">
//        <li class="chord-numerals" role="menuitem"><a class="chord-link">I</a></li>
//        <li class="chord-numerals" role="menuitem"><a class="chord-link">ii</a></li>
//        <li class="chord-numerals" role="menuitem"><a class="chord-link">iii</a></li>
//        <li class="chord-numerals" role="menuitem"><a class="chord-link">IV</a></li>
//        <li class="chord-numerals" role="menuitem"><a class="chord-link">V</a></li>
//        <li class="chord-numerals" role="menuitem"><a class="chord-link">vi</a></li>
//        <li class="chord-numerals" role="menuitem"><a class="chord-link">vii°</a></li>
//    </ul>
//   </div>
//
// Styleguide 3.6


ul.chord-labels {
    li.chord-numerals {
        background-color: tan;
        border-bottom: 1px solid brown;
        a {
        }
    }
}


// Chord List
//
// markup:
//   <div id="display-section">
//    <ul class="chord-list list-inline">
//        <li class="chord-degree" role="menuitem"><a class="chord-link">C</a></li>
//        <li class="chord-degree" role="menuitem"><a class="chord-link">D</a></li>
//        <li class="chord-degree" role="menuitem"><a class="chord-link">E</a></li>
//        <li class="chord-degree" role="menuitem"><a class="chord-link">F</a></li>
//        <li class="chord-degree" role="menuitem"><a class="chord-link">G</a></li>
//        <li class="chord-degree" role="menuitem"><a class="chord-link">A</a></li>
//        <li class="chord-degree" role="menuitem"><a class="chord-link">B</a></li>
//    </ul>
//   </div>
//
// Styleguide 3.7

ul.chord-list {
    li.chord-degree {
        background-color: lightsteelblue;
        a {
        }
    }
}

