// Class for hiding elements
.hidden {
  display: none;
}


// App structure
body {
    @include container(80%);
}

// Key selection section
.key-section {
    margin-top: 10%;

    // Wrapper for the option box
    .dropdown-wrap {
        width: 500px;
        position: relative;
        margin: 0 auto;
        // Override dropbox styles
        #key-select, #mode-select, .form-control {
            display: inline-block;
            position: relative;
            width: 200px;
        }
    }
}

// Render section
.display-section {
    @include container(100%);
    margin: 0;

    .display-wrap {
        margin: 0 auto;
        height: 100%;
    }

    .key-desc {

    }

    .chord-section {
        margin: 0 auto;
    }

    // Appended lists
    ul {
        list-style-type: none;
        padding: 0;
        display: block;
        li {
            text-align: center;
            margin: 0;
            display: inline-block;
            height: 50px;
            @include span(1 of 7);

            a {
                position: absolute;
                margin-top: 20px;
            }

        }
    }

    .list-wrap {
        height: 100px;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        .note-list {
            height: 50px;
            margin-top: 50px;
        }
    }

} // end display-section
