// Class for hiding elements
.hidden {
  display: none;
}


body {

// General Page Wrap
    .page-wrap {
        height: 100%;

// The section for picking the Key
    .key-section {
      background: gray;
      height: 20vh;
      width: 100%;

// Wrapper for the option box
      .dropdown-wrap {
        margin-top: 100px;
        width: 190px;
        margin: 0 auto;
      } // end dropdown-wrap

    } // end key-section

    .display-section {
        background: #999;
        width: 100%;
        height: 100%;
        margin: 0;
    } // end display-section

  } // end page-wrap

} // end body
