@import "partials/_normalize";
@import "partials/config";


/*
  <h1>.btn</h1>

  Provides extra visual weight and identifies the primary action in a set of buttons.

    <div class="btn">
    <p>.btn<p>
    </div>

*/

.btn {
  background-color: #444;
  display: inline-block;
  padding: 0px 10px 0px 10px ;
  border-radius: 6px;
  border: 6px solid #333;
    p {
      color: white;
      font-family: helvetica, arial, sans-serif;
      font-weight: 1px;
      text-align: center;
      text-transform: uppercase;
      padding: 0;
    }
  &:hover {
    background-color: black;
    border-color: #888;
  }
}
