@import "partials/_normalize";
@import "partials/config";


/*
  <h1>.btn</h1>

  Provides extra visual weight and identifies the primary action in a set of buttons.

    <div class="btn">
    <p>.btn<p>
    </div>

*/



.btn {
  background-color: #555;
  width: 800px;
  height: 800px;
  img{ 
    display: inline-block sprite;
    width: 30%;
    height: 30%;
  }
}
