// Library Imports
@import "bower_components/susy/sass/susy";
@import "bower_components/compass-breakpoint/stylesheets/_breakpoint.scss";

// Susy Settings
$susy: (
  columns: 4,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
); 

$chord-section: (
    columns: 7,
    gutters: 1/4,
    math: fluid,
    output: float,
    gutter-position: inside,
);