body {
    @include container(100%);
    background-color: $body-bg-color;
}

.app-wrap {
    @include container(80%);
    margin: 0 auto;
}

// Helper Classes
.hide {
    display: none;
}

.full-screen {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
} 