.swiper-container {
    width: 100%;
    height: 48vh;
    margin: 0 auto; 
    margin-top: -25px;
}   

.swiper-slide {
    padding: 6px;
}

#display-section {
    @include layout($chord-section);
    @include span(7);
    padding: 0;
    margin-top: 1%; 
    height: 100%; 

    #display-wrap {
        width: 100%; 
    }
}

#display-section {
    ul {
        li {
            @include span(1);
            padding: 5px;
            border: 1px solid $note-border-color;
            text-align: center;

            a{
              color: $display-section-link-color;
              color: note-text-color;
              font-size: 1em;
            }
        }
    }
}

h1.section-title {
    @include span(7);
    color: $section-title-color;
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 0px;
}

.key-desc {
    @include span(7);
    background-color: $key-desc-bg-color;
    border-color: $key-desc-border-color;
    text-align: left;
    font-size: 16px; 
    padding: 8px;
    margin: 0;  
    
    p {
      color: $key-desc-text-color;
      padding: 0;
      margin: 0;
    }
}

.list-wrap {
    @include span(7);
}

ul.note-list {
    margin-bottom: 20px;
    li.scale-degree {
        background-color: $note-list-bg-color;
        a {

        }
    }
}

.chord-section {
    @include span(7);
}

ul.chord-labels {
    li.chord-numerals {
        background-color: $chord-labels-bg-color;
        border-bottom: 1px solid $chord-labels-border-color;
        a {
        }
    }
}

ul.chord-list {
    li.chord-degree {
        background-color: $chord-degree-bg-color;
        a {
        }
    }
}