
header {
    height: 50%; 
}


#navigation {
    background-color: $header-bg-color;
    border: none;
    border-bottom: solid 3px $header-border-color;

        #brand-wrap {
        @include span(4);
        text-align: center;
        h1 {
          color: $logo-color;
          font-size: 32px;
          padding: 4px; 
          margin: 0; 
        }
    }
    #nav-wrap {
        @include container(80%);
        margin: 0 auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

#nav-list {
    @include span(4);
    list-style-type: none;
    display: inline-block;
    li {
        padding: 10px;
        background-color: $mobile-nav-li-color;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        border-bottom: 5px solid $mobile-nav-li-border-color;
        a {
            font-size: 1.8em;
            text-transform: uppercase;
            font-weight: 500;
            color: $mobile-nav-li-text-color;
        }
        a:hover {
            text-decoration: none;
            color: $mobile-nav-li-border-hover-color;
        }
    }
    li:hover {
        border-bottom: 5px solid $mobile-nav-li-border-hover-color;
    }
}


.mobile-nav-btn {
    @include span(4);
    background-color: $mobile-nav-btn-color;
    border-bottom: 5px solid $mobile-nav-btn-border-color;
    padding: 8px;
    text-align: center;
    font-size: 20px;
    span {
        color: $mobile-nav-btn-icon-color;
    }
}

#mobile-nav {
    background-color: $mobile-nav-bg-color;
    z-index: 99; 
}