
#key-section  {
    @include span(4);
    padding: 4px;
    padding-right: 0px;
    padding-left: 0px; 
    margin: 0; 
    height: 100%; 
    #dropdown-wrap  { 
        margin: 0 auto;
    } 
}


#key-select {
    @include span(4);
    margin-top: 2%; 
    option {

    }
}

#key-select:hover {

}

#mode-select {
    @include span(4);
    margin-top: 2%;
    option {

    }
}


#submit-key {
    @include span(4);
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: $submit-key-button-color;
    color: $submit-key-text-color;
    border-bottom: 5px solid $submit-key-button-border-color;
    margin-top: 3%; 
 }