// Key section
//
// Styleguide 2.0


// Key Section
//
// markup:
// <div id="key-section">
//    <div class="dropdown-wrap">
//            <select id="key-select" autocomplete=off class="form-control">
//                <option value="c" selected>C</option>
//                <option value="c#">C#</option>
//                <option value="d">D</option>
//                <option value="d#">D#</option>
//                <option value="e">E</option>
//                <option value="f">F</option>
//                <option value="f#">F#</option>
//                <option value="g">G</option>
//                <option value="g#">G#</option>
//                <option value="a">A</option>
//                <option value="a#">A#</option>
//                <option value="b">B</option>
//            </select>
//          <select id="mode-select" class="form-control">
//            <option value="major" selected>Major</option>
//              <option value="minor">Minor</option>
//          </select>
//        <input type="submit" id="submit-key" class="btn" value="Submit" onclick="changeKey();">
//    </div>
// </div>
//
// Styleguide 2.1

#key-section  {
    @include span(4);
    padding: 8px;
    padding-right: 0px;
    padding-left: 0px; 
    margin: 0; 
    height: 100%; 
    #dropdown-wrap  { 
        margin: 0 auto;
    } 
}


// Key Select
//
// markup:
//    <select id="key-select" autocomplete=off class="form-control">
//        <option value="c" selected>C</option>
//        <option value="c#">C#</option>
//        <option value="d">D</option>
//        <option value="d#">D#</option>
//        <option value="e">E</option>
//        <option value="f">F</option>
//        <option value="f#">F#</option>
//        <option value="g">G</option>
//        <option value="g#">G#</option>
//        <option value="a">A</option>
//        <option value="a#">A#</option>
//        <option value="b">B</option>
//    </select>
//
// Styleguide 2.2

#key-select {
    @include span(4);

    option {

    }
}

#key-select:hover {

}


// Mode Select
//
// markup:
//  <select id="mode-select" class="form-control">
//    <option value="major" selected>Major</option>
//      <option value="minor">Minor</option>
//  </select>
//
// Styleguide 2.3

#mode-select {
    @include span(4);
    margin-top: 8px;
    margin-bottom: 8px;
    option {

    }
}

// Submit Key
//
// markup:
//    <input type="submit" id="submit-key" class="btn" value="Submit" onclick="changeKey();">
//
// Styleguide 2.4

#submit-key {
    @include span(4);
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: $submit-key-button-color;
    color: $submit-key-text-color;
    border-bottom: 5px solid $submit-key-button-border-color;
 }